body {
	background: gainsboro;
}
h1 {
	line-height: 56px;
}
p {
	margin-bottom: 1.5rem;
}
.column {
	margin-top: 5% !important;
}
.button {
	margin-bottom: 0.5rem;
}
a.button.button-twit {
	background: white;
	color: black;
	border: 5px solid black;
	box-sizing: border-box;
	line-height: 36px;
}
a.button.button-twit img {
	filter: invert(100%);
}
a.button.button-github {
	background-image: url('../local-images/random-fantasy-backdrop.jpg');
	color: black;
	border: 1px solid peachpuff;
	box-sizing: border-box;
}
a.button.button-github img {
	filter: invert(100%);
}
a.button.button-local-location {
	background: deepskyblue; 
	color: black;
}
