body {
	background-image: url('../images/wallpaper-trollstigen-2022.jpg');
	background-size: cover;
	#background-color: silver;
}
h1 {
	line-height: 56px;
}
p {
	margin-bottom: 1.5rem;
}
.column {
	margin-top: 5% !important;
}
.button {
	margin-bottom: 1.0rem;
}
a,a:visited {
	color: maroon;
}
a.button.button-scsy {
	background: red;
}
a.button.button-cv {
	background: purple;
}
a.button.button-gulp {
	background: white;
	color: #981917;
}
a.button.button-phone {
	background: #f48fff;
	color: black;
}
.button.button-gulp:hover,
.button.button-gulp:focus {
  filter: brightness(90%);
}
.dialog-container {
	display: none;
}
