body {
	background-image: url('../images/wallpaper-trollstigen-2022.jpg');
	background-size: cover;
}
h1 {
	line-height: 56px;
}
p {
	margin-bottom: 1.5rem;
}
.column {
	margin-top: 5% !important;
}
.button {
	margin-bottom: 1.0rem;
}
.lock {
	font-size: xx-small;
	vertical-align: super;
}
a,a:visited {
	color: maroon;
}
a.button.button-threema {
	background-image: linear-gradient(110deg, black, green, #3fe669, #3fe669, green, black);
}
a.button.button-mastodon {
	background-image: linear-gradient(80deg, #6262fd, #17063B, #17063B, #6262fd);
}
a.button.button-steam {
	background: linear-gradient(30deg, #171a21, #66c0f4, #1b2838);
	color: white;
}
